@using Microsoft.AspNetCore.Identity
@using DBContex.Models;
    @using Bloggs.Models.Response;
@model ChangeRoleViewModels
@inject UserManager<DBContex.Models.User> UserManager;
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<h2>Список пользователей</h2>
<body>
    @foreach (User user in Model.User)
    {
        <div class="form boxShadowLogin">
            <h1>@user.FirstName @user.Name </h1>
            @foreach (Microsoft.AspNetCore.Identity.IdentityRole role in Model.AllRoles)
            {
                <div class="Tags">
                    @role.Name
                </div>
            }
            <div class="article-actions">
                <form action="@Url.Action("Edit", "Roles")" method="get" style="display:inline-block;">
                    <input type="hidden" name="userid" value="@user.Id" />
                    <button type="submit" class="btn-edit"><i class="fa fa-pencil-alt"></i></button>
                </form>
                <form method="post" asp-action="Delete" asp-controller="Roles" style="display:inline-block;">
                    <input type="hidden" name="id" value="@user.Id" />
                    <button type="submit" class="btn-delete"><i class="fa fa-trash"></i></button>
                </form>
            </div>
        </div>
    }
</body>