@model Bloggs.Models.Response.ArticleViewModel


    <h3>Изменить статью</h3>
    @using (Html.BeginForm("Edit", "Article", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.Id)
        <div class="form-group">
            <label for="title">Title:</label>
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Title)
        </div>
        <div class="form-group">
            <label for="content">Content:</label>
            @Html.TextAreaFor(m => m.Content, new { @class = "form-control", rows = 10 })
            @Html.ValidationMessageFor(m => m.Content)
        </div>
        @foreach (var tag in Model.tags)
        {
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="tags[@tag.Key]" value="true" @(tag.Value ? "checked" : "") /> @tag.Key
                </label>
            </div>
        }
        <input type="submit" value="Сохранить" class="btn btn-primary" />
    }

