@model IEnumerable<DBContex.Models.Article>
@using Microsoft.AspNetCore.Mvc.Rendering;
@using Microsoft.AspNetCore.Http;


@{
    ViewBag.Title = "Статьи";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Dictionary<string, bool> teggss = ViewBag.TagsList;

}
<head>
    <style>
        /* Убираем рамки у ячеек таблицы */
        table {
            border-collapse: collapse;
        }

        td, th {
            border: none;
        }
        /* Добавляем отступы между ячейками и строками */
        td, th {
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }
        /* Добавляем обрамление и тень у таблицы */
        .table {
            border: 1px solid #ccc;
            box-shadow: 1px 1px 1px #ccc;
        }
        /* Цвет фона заголовка таблицы */
        th {
            background-color: #eee;
        }
        /* Стиль наведения на таблицу */
        tr:hover {
            background-color: #f5f5f5;
        }
    </style>
    <script>
        function getSelectedTags() {
            var selectedTags = [];
            var checkboxes = document.getElementById('elem');// Получаем все чекбоксы
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {// Если чекбокс отмечен, добавляем его значение в массив selectedTags
                    selectedTags.push(checkboxes[i].value);
                }
            }
            document.getElementById('tegg').value = selectedTags.join(','); // Добавляем выбранные теги в скрытое поле
            return selectedTags;
        }
        function setTegg() {
            var teggField = document.getElementById('tegg');
            var links = document.querySelectorAll('.pagination a');
            for (var i = 0; i < links.length; i++) {
                links[i].href = links[i].href.replace(/tagFilters=([^&]*)/, 'tagFilters=' + teggField.value);
            }
        }
        setTegg();
    </script>
</head>

@using(Html.BeginForm("Index", "Article", FormMethod.Get))
{
    <h1>Articles</h1>
    <div class="form-group">
        <label for="tags">Filter by tags:</label>
        <div>
            @foreach(var tag in ViewBag.TagsList)
            {
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="elem" name="tagFilters[@tag.Key]" value="true" @(tag.Value ? "checked" : "") /> @tag.Key
                    </label>
                </div>
            }
        </div>
        <button type="submit" class="btn btn-primary"
                onclick="document.getElementById('tegg').value = getSelectedTags().join(',');">
            Применить фильтр
        </button>
        <a href="@Url.Action("Index", "Article")" class="btn btn-secondary">Clear Filters</a>
    </div>
    <input type="hidden" name="tegg" id="tegg" value="" /> <!-- Отправляем список выбранных тегов в скрытом поле -->
}
<a href="@Url.Action("AddArticle", "Article")" class="btn btn-secondary Article">Создать статью</a>
<table class="table ">
    <thead>
        <tr class="classth">
            <th>Тема</th>
            <th>Описание</th>
            <th>Дата публикации</th>
            <th>Автор</th>
            <th>Теги</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var article in Model)
        {
            <tr>
                <td>@article.Title</td>
                <td>@(article.Content.Length > 40 ? article.Content.Substring(0, 40) + "..." : article.Content)</td>
                <td>@article.PublicationDate.ToShortDateString()</td>
                <td>@article.Author.UserName</td>
                <th>
                    @foreach(var tagsName in @article.Tags)
                    {
                        @tagsName.Name
                        if(tagsName != article.Tags.Last())
                           {
                              @(", ")
                           }
                    }
                   
                </th>
                <td>
                    <a href="@Url.Action("Edit", "Article", new { id = article.Id })">Посмотреть</a>
                </td>
            </tr>
        }
    </tbody>
</table>





    <!-- Пагинация -->
    <div class="pagination">
        

        @if(ViewBag.CurrentPage > 1)
        {
        <a onclick="setTegg()" href="@Url.Action("Index", "Article", new {tagFilters = @teggss, page = ViewBag.CurrentPage - 1, pageSize = ViewBag.PageSize, tegg = @Request.Query["tegg"]})@(ViewContext.HttpContext.Request.QueryString)">Previous</a>
        }

        @for(var i = 1; i <= ViewBag.TotalPages; i++)
        {
            if(i == ViewBag.CurrentPage)
            {
                <span>@i</span>
            }
            else
            {

            <a onclick="setTegg()" href="@Url.Action("Index", "Article", new {tagFilters = @teggss, page = i, pageSize = ViewBag.PageSize })@(ViewContext.HttpContext.Request.QueryString)">@(i)</a>
                
            }
        }

        @if(ViewBag.CurrentPage < ViewBag.TotalPages)
        {
        <a onclick="setTegg()" href="@Url.Action("Index", "Article", new {tagFilters = @teggss, page = ViewBag.CurrentPage + 1, pageSize = ViewBag.PageSize})@(ViewContext.HttpContext.Request.QueryString)">Next</a>
            
        }
    </div>


